@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

:root {
  font-family: Roboto;
  --bg: #212121;
  --bg-blur: rgba(33, 33, 33, 0.1);
  --bg-white: #fff;
  --bg-gray: rgb(243 244 246);
  --ink-main: #eee;
  --gray: rgb(75 85 99); 
  --orange: orange;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--orange) var(--ink-main);
}

body{
  background: var(--bg-gray);
}

main,
footer,
.quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
footer {
  background: var(--bg);
  color: var(--ink-main);
  padding: 0.75rem;
  
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10%;
}

.logo {
  margin-right: auto;
}

.logo img {
  display: block;
}

nav {
  padding: 0 0.75rem;
}

nav ul.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  list-style: none;
  gap: 0.75rem;
  padding: 0;
}

nav ul.nav-links a,
.login__sign-up a {
  text-decoration: none;
  color: var(--ink-main);
  border-bottom: 1px solid transparent;
}

nav ul.nav-links a:hover,
.login__sign-up a:hover {
  color: var(--orange);
  border-bottom: 1px solid orange;
  transition: 0.3s;
}

.login__sign-up a {
  margin-right: 0.75rem;  
}

main {
  padding-top: 2rem;
  height: 100vh;  
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 equal columns */
  grid-template-rows: repeat(3, 200px);       /* 2 rows */
  gap: 15px;
  width: 80%;
}

.item {
  background: var(--bg-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 35px;
  border: 1px solid var(--bg);
}

.item:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-1 {
  grid-column: span 3 / span 3;
}

.item-2 {
  grid-row-start: 2;
}

.item-3 {
  grid-row-start: 2;
 
}

.item-4 {
  grid-row-start: 2;
}

section.quote {
  background: #fff;
  padding: 1.75rem;
  color: var(--gray);
  font-style: italic;
  border-top: 1px solid #ddd;
  font-size: 1.125rem;
}

footer {
  padding: 1.75rem 0.75rem;
  font-size: 14px;
}

/* Buttons */

.btn {
  display: inline-block;
  color: #000;
  border-radius: 10px;
  padding: 0.375rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out,
     background-color 0.15s ease-in-out,
     border-color 0.15s ease-in-out, 
     box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background-color: #228b22;
  border-color: #0d6efd;
  color: #fff;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.05);
  color: red;
  border: 1px solid red;
}
