h1,
h2,
h3 {
  font-family: helvetica;
  font-size: 25px;
  color: #fff;
  text-decoration: underline;
}
header {
  display: flex;
  background: red;
  height: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  background: yellow;
  text-align: center;
  justify-content: center;
  align-items: center;
}

nav h1 {
  color: #000;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "section aside"
    "article aside";
  gap: 10px;
  padding: 10px;
  background: blue;
  height: 500px;
}


section,
article {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

section {
  background: green;
  grid-area: section;
}

article {
  background: #e6e6e6;
  grid-area: article;
}

article h1 {
  color: #000;
}

aside {
  grid-area: aside;
  background: purple;
  max-height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  background: grey;
  height: 150px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
