:root {
  --bg-header: red; 
  --bg-nav: yellow;
  --bg-main: blue;
  --bg-section: green;
  --bg-article: white;
  --bg-aside: purple;
  --bg-footer: grey;
  --ink-main: #fff;
  --ink-second: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: helvetica;
  font-size: 25px;
  color: var(--ink-main);
  text-decoration: underline;
}

header {
  display: flex;
  background: var(--bg-header);
  height: 100px;
 text-align: center;
  align-items: center;
  justify-content: center; 
}

nav {
  display: flex;
  background: var(--bg-nav);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

nav h1 {
  color: var(--ink-second);
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "section aside"
    "article aside";
  gap: 10px;
  padding: 10px;
  background: var(--bg-main);
  min-height: 800px;
}


section,
article {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

section {
  background: var(--bg-section);
  grid-area: section;
}

article {
  background: var(--bg-article);
  grid-area: article;
}

article h1 {
  color: var(--ink-second);
}

aside {
  grid-area: aside;
  background: var(--bg-aside);
  max-height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  background: var(--bg-footer);
  height: 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
